<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Event</title>
    <meta name="description" content="Event">
    <meta name="author" content="SitePoint">
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Active</th>
            <th>Created</th>
        </tr>
        <tr>
            <td>{{ event.id }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.active }}</td>
            <td>{{ event.created_date }}</td>
        </tr>
    </table>

</html>